extends layout

block layout-content
	script(src="allstores.js")
	script(src="front1.js")
	div#map
	div#rightside
		div#topFrame
			h1 FRUIT PICKER v1.0.1
		div#bottomFrame
			input(type="text", id="myInput", placeholder="Enter Store Name", title="Type in a store name", class="goback")
			ul#hideul
	script(src="front2.js")
