block variables
doctype html
html(xmlns="http://www.w3.org/1999/xhtml", lang="en", xml:lang="en")
	head
		title Fruit Picker
		meta(name="title", content="Fruit Picker")
		meta(name="description", content="Fruit Picker")
		link(rel="icon", href="favicon.png", sizes="128x128")
		script(src=layoutgmaps)
		link(rel="stylesheet" href="style.css")
	body
		block layout-content